@media (max-width: 479px) {
  body{
    background-color: #ccc;
    width: 100%;
    
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  body{
    background-color: #861717;
    /*font-size: 20px;*/
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body{
    background-color: rgb(104, 73, 33);
    /*font-size: 24px;*/
    width: 100%;
  }
}

@media (min-width: 1024px) {
  body{
    background-color: rgb(70, 165, 165);
    /*font-size: 24px;*/
    width: 100%;
  }
}


body {
    background-color: rgb(192, 182, 182);
    color: black;
    
  }
  
  body.dark-mode {
    background-color: #222222;
    color: white;
  }
  
.main{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    height: 700px;
    width: auto;
    /*border: 1px solid rgb(255, 255, 255);*/

}
.leftsection{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 300px;
    /*border: 1px solid rgb(248, 246, 246);*/
}
.rightsection{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 800px;
    /*border: 1px solid rgb(248, 246, 246);*/
}
img{
    height: 350px;
    width: 300px;
    border: 1px solid rgb(247, 246, 246);
    border-radius: 60%;
  

}
.pp img{
  color: blue;
}
.page{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*justify-content:space-evenly;*/
    background-color: #eb3a3a;
    color: #fff;
    
    height: 100px;
    width: auto;
    /*border: 1px solid rgb(248, 247, 247);*/
}
.page ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.page li{
    margin: 0 10px;
}
.page a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.page a:hover{
    color: #cccccc;
}


.footer {
  background-color: #333;
  color: #fff;
}
.footer-content {
  text-align: center;
  padding: 20px;
}
.footer p {
  margin: 0;
}

.footer .social-media {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.footer .social-media li {
  display: inline-block;
  margin: 0 5px;
}

.footer .social-media a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.footer .social-media a:hover {
  color: #ccc;
}


#cv {
  border: 1px solid #ccc;
  padding: 5px 10px;
  transition: background-color 0.3s, border-radius 0.3s;
}

#cv:hover {
  background-color: rgba(2, 44, 2, 0.596);
  border-radius: 30%;
}
input{
  height:2rem ;
  width:6rem ;
  border-radius:1rem ;
}




