@media (max-width: 479px) {
  body{
    background-color: #8a2a2a;
    /*font-size: 14px;*/
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  body{
    background-color: #252424;
    /*font-size: 20px;*/
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body{
    background-color: rgb(122, 81, 26);
    /*font-size: 24px;*/
  }
}

@media (min-width: 1024px) {
  body{
    background-color: rgb(21, 110, 110);
    /*font-size: 24px;*/
  }
}



body {
  background-color: whitesmoke;
  color: black;
  
}

body.dark-mode {
  background-color: #222222;
  color: white;
}



.cert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
/*.navbar {
    background-color: #333;
    color: #fff;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.navbar li {
    margin: 0 10px;
}
  
.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.navbar a:hover {
    color: #ccc;
}
   
@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar ul {
      flex-direction: column;
    }
  
    .navbar li {
      margin: 10px 0;
    }
  }*/
  .devtown{
    display: flex;
    justify-content: center;
    
    flex-direction: column;
  }
  
  

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80rem;
    width: auto;
    /*border: 0.1rem solid rgb(245, 243, 243);*/
}
/*body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}*/
.Newsletter{
    height: 25rem;
    width: 35rem;
    border: 0.1rem solid rgb(8, 8, 8);
    border-radius: 0.5rem;

}
.NFT{
    height: 25rem;
    width: 35rem;
    border: 0.1rem solid rgb(7, 7, 7);
    border-radius: 0.5rem;
}
.preview{
    height: 25rem;
    width: 35rem;
    border: 0.1rem solid rgb(5, 5, 5);
    border-radius: 0.5rem;

}
.result{
    height: 25rem;
    width: 35rem;
    border: 0.1rem solid rgb(10, 10, 10);
    border-radius: 0.5rem;
}
.order{
    height: 25rem ;
    width: 35rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}
.Qrcode{
    height: 25rem;
    width: 35rem;
    border: 0.1rem solid rgb(13, 13, 14);
    border-radius: 0.5rem;
}
.Newsletter > img{
    height: 20rem;
    width: 35rem;
    border: 0.1rem solid rgb(8, 8, 8);
    border-radius: 0.5rem;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*justify-content: space-evenly;*/
    height: 5rem;
    width: auto;
    /*border: 0.1rem solid red;*/
    background-color: #a81094;
    color: #fff;

}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
 }
.nav li {
    margin: 0 10px;
}
  
.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.nav a:hover {
    color: #0b1ba7;
}

  

  
.NFT > img{
    height: 20rem;
    width: 35rem;
    border: 0.1rem solid rgb(227, 227, 230);
    border-radius: 0.5rem;
}
.preview > img{
    height: 20rem;
    width: 35rem;
    border: 0.1 solid rgb(243, 242, 242);
    border-radius: 0.5rem;
}
.result > img{
    height: 20rem;
    width: 35rem;
    border: 0.1rem solid rgb(245, 243, 243);
    border-radius: 0.5rem;
}
.order > img{
    height: 20rem;
    width: 35rem;
    border: 0.1rem solid rgb(247, 247, 247);
    border-radius: 0.5rem;
}
.Qrcode > img{
    height: 20rem;
    width: 35rem;
    border: 0.1rem solid rgb(247, 243, 243);
    border-radius: 0.5rem;
}
.footer {
    background-color: #333;
    color: #fff;
  }
  .footer-content {
    text-align: center;
    padding: 20px;
  }
  .footer p {
    margin: 0;
  }
  
  .footer .social-media {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .footer .social-media li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .footer .social-media a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  .footer .social-media a:hover {
    color: #ccc;
  }

  

  